/////////////////////////////////////////////////////////////////////
// File: Sizes
/////////////////////////////////////////////////////////////////////
//

  .#{$iconic-css-prefix}-xs { font-size: $iconic-icon-xs; }
  .#{$iconic-css-prefix}-sm { font-size: $iconic-icon-sm; }
  .#{$iconic-css-prefix}-md { font-size: $iconic-icon-md; }
  .#{$iconic-css-prefix}-lg { font-size: $iconic-icon-lg; }
  .#{$iconic-css-prefix}-xl { font-size: $iconic-icon-xl; }
