/////////////////////////////////////////////////////////////////////
// File: Custom config
/////////////////////////////////////////////////////////////////////
//

  //////////.........................................................
  // Custom config
  //
  $iconic-name: "iconicfont";
  $iconic-path: "fonts";
  $iconic-size: 16px;


  //////////.........................................................
  // Custom icon list
  //
  $iconic-icons: (
    exampleIconName1: "f001",
    exampleIconName2: "f002"
  );
