/////////////////////////////////////////////////////////////////////
// File: Default variables
/////////////////////////////////////////////////////////////////////
//

  $iconic-version: "0.1.0" !default;
  $iconic-css-prefix: iconic !default;

  $iconic-path: "fonts" !default;
  $iconic-size: 16px !default;
  $iconic-line-height: 1 !default;

  $iconic-icon-xs: .750em !default;
  $iconic-icon-sm: 1em !default;
  $iconic-icon-md: 2em !default;
  $iconic-icon-lg: 3em !default;
  $iconic-icon-xl: 4em !default;
